html,
body {
  font-size: 62.5%;
}

#root {
  display: flex;
  justify-content: center;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  width: 100%;
  padding: 2rem;
  font-size: 1.6rem;
}

.testList {
  margin-bottom: 3rem;
}

.testItem {
  display: flex;
  flex-direction: column;
  border: .1rem solid #ddd;
  border-radius: .5rem;
  margin-bottom: 2rem;
  background-color: #e0e0e0;
}

.testItem p {
  padding: 0 1rem;
}

.testItem span {
  color: white;
  padding: .5rem 1rem;
}

.testRunner {
  align-self: center;
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: #007bff;
  border: none;
  border-radius: .5rem;
  color: white;
  transition: all .3s;
}

.testRunner:hover {
  cursor: pointer;
  background-color: #0066d4;
}